@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  background-color: #101820;
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4169E1;
  border-radius: 10px;
}

#root {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.loader {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  width: 100%;
  z-index: 2;

  height: 70px;
  top: 0;
  transition: all 0.7s;
  background-color: #4169E1;
}

.blur {
  background-color: #4169E1;
  /* backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(20px); */
}

.blur .Logo {
  color: #000000;
}

.blur li a {
  color: #000000;
}

.Logo {
  font-size: 32px;
  letter-spacing: 2px;
  padding-left: 7%;
  color: #000000;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.NavbarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 7%;
  font-weight: 500;
  font-size: 22px;
}

.NavbarLinks li {
  padding: 2px 20px;
  list-style-type: none;
}

.NavbarLinks a {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 95%;
  padding: 2px 7px;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* .NavbarLinks a:hover {
  color: white;
  background-color: #FF5733;
} */

.NavbarLinks a::after {
  background-color: #000000;
  content: "";
  position: absolute;
  height: 3px;
  left: 5px;
  bottom: 0;
  width: 0px;
  border-radius: 2px;
  transition: 0.3s;
}

.NavbarLinks a:hover:after {
  width: 95%;
}

.Hamburger {
  display: none;
}

@media(max-width:800px) {
  .Navbar {
    width: 100%;
  }

  .NavbarLinks {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    inset: 0 0 0 50%;
    gap: 50px;
    background-color: #4169E1;
    height: 100vh;
    padding-top: max(20%, 120px);
    transform: translateX(100%);
    transition: 0.5s;
  }

  .blur .NavbarLinks {
    background-color: #4169E1;
  }

  .showNavbar {
    transform: translateX(0);
  }

  .Hamburger {
    display: block;
    z-index: 2;
    padding: 5px;
    padding-right: 7%;
    cursor: pointer;
  }

  .bar {
    display: block;
    background-color: #000000;
    border-radius: 50px;
    height: 2.5px;
    width: 30px;
    margin: 6px;
    transition: 0.5s;
  }

  .barOne {
    rotate: -225deg;
    position: relative;
    top: 4px;
    transition: 0.5s;
  }

  .barTwo {
    display: none;
  }

  .barThree {
    position: relative;
    bottom: 4px;
    rotate: 225deg;
    transition: 0.5s;
  }

  .blur .Hamburger .bar {
    background-color: #000000;
  }
}

.HomePage {
  display: flex;
  justify-content: space-evenly;
  min-height: 40vh;
  margin-top: 70px;
  /* margin-bottom: -50px; */
  align-items: center;
  /* background-image: url('../src/images/f2.jpg'); */
  background-color: #101820;
  padding-top: 20px;
  gap: 20px;
}

.HomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HomeText h1 {
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 0.7px;
  padding-top: 10px;
  color: #E7E7E7;
}

.Extratext {
  padding: 25px 0px;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.6px;
  color: #4169E1;
}

/* .img-cont {
  position: relative;
  width: max-content;
} */

.img1 {
  height: 350px;
}

.brief {
  min-height: 40vh;
  width: 100%;
  background-color: #101820;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  /* height: 90vh; */
  margin-top: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.intro h1 {
  text-align: center;
  width: 200px;
  padding: 10px;
  color: #4169E1;
  border: 2px solid #4169E1;
  border-radius: 30px;
}

.intro p {
  margin-top: 20px;
  letter-spacing: 1px;
  width: 100%;
  font-size: 22px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: justify;
}

.dr {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 250px;
  border-radius: 30px;
  background-color: #4169E1;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 5px 5px #000000;
}

.dr:hover {
  background-color: rgb(155, 250, 12);
}

.dr:active {
  transform: translateY(5px);
}

.dr .dra {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 22px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}

.dra:disabled {
  cursor: no-drop;
}

footer {
  padding-top: 20px;
  background-color: #101820;
  text-align: center;
  color: #4169E1;
}

.project_main {
  min-height: 100vh;
  margin-top: 70px;
  background-color: #101820;
  color: #E7E7E7;
}

.project_main .main_heading {
  padding-top: 40px;
  color: #4169E1;
  text-align: center;
  font-weight: bold;
}

.project_container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  align-items: center;
  padding: 40px auto;
}

.project_card {
  /* padding: 20px; */
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 20px;
  color: #000000;
  box-shadow: 10px 10px #4169E1;
}

.project_card .img_cont {
  border-radius: 20px;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_cont img {
  border-radius: 20px;
  height: 90%;
  width: 90%;
  object-fit: cover;
}

.project_card h1 {
  font-size: 20px;
  font-weight: bold;
}

.project_card p {
  width: 90%;
  /* padding: 10px; */
  text-align: justify;
}

.project_card .git {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* border-radius: 20px;
  box-shadow: 5px 5px #000000;
  cursor: pointer; */
}

.git .gb {
  height: 40px;
  width: 40%;
  background-color: #4169E1;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px #000000;
}

.gb:hover {
  background-color: rgb(155, 250, 12);
  /* transform: translateY(2px); */
}

.gb:active {
  transform: translateY(3px);
}

.skills {
  min-height: 100vh;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #101820;
}

.skills .technical_skills {
  margin-top: 40px;
  min-height: 40vh;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technical_skills h1 {
  /* position: relative;
  text-align: center; */
  color: #4169E1;
}

.tech_logo {
  width: 80%;
  margin-top: 40px;
  gap: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cnt {
  height: 80px;
  width: 80px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 5px 5px #4169E1;
  cursor: pointer;
}

.cnt:hover {
  transform: translateY(5px);
}

.cnt img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.relevent_coursework {
  margin-top: 40px;
  min-height: 40vh;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.relevent_coursework h1 {
  position: relative;
  text-align: center;
  color: #4169E1;
}

.course_list {
  margin-top: 30px;
  height: 350px;
  width: 70%;
  display: flex;
  /* gap: 80px; */
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 10px 10px #4169E1;
}

.course_list ul li {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}

.contact_info {
  margin-top: 70px;
  min-height: 100vh;
  background-color: #101820;
}

.info_container {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 40px; */
}

.social {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 40px;
  box-shadow: 5px 5px #4169E1;
}

.social p {
  width: 90%;
  text-align: justify;
  font-size: 20px;
}

.social_logo {
  width: 70%;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.social a:active {
  transform: translateY(5px);
}

.img_conti {
  width: 450px;
  height: 500px;
  padding: 20px;
}

.img_conti img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media(max-width:900px) {
  .HomePage {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  .HomeText h1 {
    padding-left: 20px;
    font-size: 22px;
  }

  .Extratext {
    padding-left: 20px;
    font-size: 22px;
  }

  .img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 250px;
  }

  .img-cont .img1 {
    max-width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .intro {
    width: 100%;
    font-size: 15px;
    padding: 20px;
  }

  .intro h1 {
    /* height: 30px; */
    font-size: 20px;
    width: 150px;
  }

  .intro p {
    font-size: 18px;
  }

  .dr {
    width: 200px;
  }

  .dr .dra {
    font-size: 18px;
  }

  .project_card {
    /* padding: 20px; */
    max-width: 300px;
  }

  .project_card h1 {
    font-size: 18px;
    font-weight: bold;
  }

  .git .gb {
    height: 40px;
    width: 60%;
  }

  .tech_logo {
    gap: 20px;
  }

  .cnt {
    height: 50px;
    width: 50px;
  }

  .relevent_coursework {
    min-height: 50vh;
  }

  .course_list {
    padding: 30px;
    height: 100%;
    width: 70%;
    gap: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .social {
    margin-top: 30px;
    width: 90%;
  }
}